html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
}


button {
    z-index: 100;
}

/* GLOBAL */


#main-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;


    /* background-color: aqua; */


}

/* INDEX PAGE */

#content-container {
    width: 50%;
    height: 50%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: tomato; */
}

#welcome-text-container {
    /* background-color: violet; */
    height: 30%
}

#entrance-button-container {
    /* background-color: wheat; */
    height: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.entrance-button {
    width: 100;
    height: 300;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);

    /* border-width: 1px; */
    /* border-color: white; */
    /* border-style: solid; */
}

#start-button {
    /* explore! */
    width: 100;
    height: 300;
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    /* border: none; */
    /* background-color: transparent; */
    /* padding: 0;  */
    /* background-size: cover;  */
    background: url('start.png') no-repeat 0 0 / 100% 100%;
    background-position: center;
    /* 图片居中对齐 */
}

#intro-button {
    /* explore! */

}


/* CAST PAGE */

#interface-container {
    /* background-color: blueviolet; */
    position: absolute;
    left: 0px;
    top: 480px;
    width: 100%;
    height: 50%;


    display: none;


}

#emoji-control-container {
    background-color: tomato;
    border: transparent;
}

#emoji-control-container button {
    border: transparent;
}


.emoji-control-button {
    flex: 1;
    width: 100px;
    height: 100px;
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    border: transparent;
}

#emoji-erase-button {
    background-color: olive;
}


#emoji-scale-button {
}

#emoji-input-container {
    height: 80%;
}

#emoji-input-area {
    flex: 1;
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#emoji-input-box {
    width: 48%;
    white-space: nowrap;
    height: 50px;
    background-color: white;
    border-radius: 5px;
}

#emoji-keyboard-area {
    height: 70%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    /* justify-content: flex-end; */
    justify-content: center;
    align-content: center;
    align-items: center;
    /* margin-left: auto; */
}

/* .emoji {
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 10px;
  background-size: cover;
  position: relative;
  top: -10px;

}
 */

.button-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(45px, 1fr)); */
    grid-gap: 10px;
    justify-content: flex-end;
}

.emoji {
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 5px;
    background-size: cover;
    top: -5px;
    border: none;

}

.empty-space1 {
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 5px;
    background-size: cover;
    top: -5px;
    visibility: hidden;
}

.empty-space2 {
    width: 145px;
    height: 45px;
    text-align: center;
    margin: 10px;
    background-size: cover;
    top: -5px;
    visibility: hidden;
}

.empty-space3 {
    width: 200px;
    height: 45px;
    text-align: center;
    margin: 10px;
    background-size: cover;
    top: -5px;
    visibility: hidden;
}


#emoji-input-button-area {
    /* background-color: salmon; */
    display: flex;
    flex-direction: column; /* 设置为列方向以垂直堆叠按钮 */
}

#emoji-del {
    width: 100%;
    height: 30px;
    color: transparent;
    /*height: 50px;*/
    /*text-align: center;*/
    /*margin: 10px;*/
}

#emoji-enter {
    width: 100%;
    height: 30px;
    color: transparent;
    /*height: 50px;*/
    /*text-align: center;*/
    /*margin: 10px;*/
}

#p5-canvas-container {
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}

#button-container {
    background-image: url("../assets/buttonBg.png");
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 500px;
    width: 150px;
    height: 150px;
    background-color: transparent;
    display: flex;
}

#button-container button {
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
    border: transparent;
    color: transparent;
    background-color: transparent;
}

#text-input-container {
    width: 480px;
    margin: auto;
    padding: 0px 100px 100px 100px;
    /* background-color: aqua; */
}


#asset-container {
    width: 480px;
    margin: auto;
    padding: 0px 100px 100px 100px;

    z-index: 999;
}

.images {
    position: absolute;

}

#p5-canvas-container > button {
    position: absolute;
    right: 0;
    bottom: 0;
}
